/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.navbar-nav{
  width: 100%;
}

.btn-login{
  width: 100%;
  background-color: #17a2b8;
  margin-bottom:10px;
  border-radius: 10px;
  text-align: center;
}

.btn-signup{
  width: 100%;
  background-color: #28a745;
  margin-bottom:10px;
  border-radius: 10px;
  text-align: center;
}

.btn-top{
  color: #fff;
}

.usereditbtn{
  width: 100%;
  background-color: #fff;
  border:1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

.fa-gray{
  color: #6c757d;
}

.newbookbtn{
  color: #fff;
  background-color: #28a745;
  border-radius: 5px;
  border-color: #28a745;
  border-style: solid;
}

.bookeditbtn{
  color: #fff;
  background-color: #28a745;
  border-radius: 5px;
  border-color: #28a745;
  border-style: solid;
}

.userupdatebtn{
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  border-color: #6c757d;
  border-style: solid;
}

.bookdltbtn{
  color: #fff;
  background-color: #dc3545;
  border-radius: 5px;
  border-color: #dc3545;
  border-style: solid;
}

.loginbtn{
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  border-color: #007bff;
  border-style: solid;
}

#success{
  color: #28a745;
}

#errorm{
  color: red;
}

#error_explanation{
  color: red;

}

.followbtn{
  color: #fff;
  background-color: #28a745;
  border-radius: 5px;
  border-color: #28a745;
  border-style: solid;
}

.unfollowbtn{
  color: #fff;
  background-color: #17a2b8;
  border-radius: 5px;
  border-color: #17a2b8;
  border-style: solid;
}